silplibwcl-alert-message{
    width: 100%;
}

ul > li > a {
    display: inline;
    padding-right: 3px;
}

.stepper > li {
    margin: 0 2%;

}

.stepper > li:first-child {
    margin-left: 19%;
}

.sezione-title {
    font-weight: bold;
    color: #213366;
    margin-top: 4%;
}
