table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  td {
    border-bottom: 1px solid #dee2e6;
  }
  
  .custom-h3 {
    margin-top: 0;
  }

  .info-box-quota-riserva{
    margin-top: 0.5em;
  }
  
   
