<footer role="contentinfo">
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <a href="https://agenziapiemontelavoro.it/" target="_blank">
              <img src="assets/img/centri_impiego.png" alt="Agenzia Piemonte Lavoro Centri per l'impiego" class="mr-img">
            </a>
          </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <a href="https://european-union.europa.eu/live-work-study/funding-grants-subsidies_it" _blank>
                <img alt="Unione europea" src="assets/img/Logo_UE_vector-ai.svg">
              </a>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <a href="https://www.regione.piemonte.it/web/" _blank>
              <img alt="Regione Piemonte" src="assets/img/Regione.png">
            </a>
          </div>
        </div>
      </div>
    </div><!--/pre-footer-->
    <div class="footer">
      <div class="container-fluid">
        <!--p class="border-w"></p-->
        <div class="row mt-4 mb-3 last-row">
          <div class="col-sm-8 col-lg-8">
              <a href="https://form.agid.gov.it/" _blank>Dichiarazione di accessibilità</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://www.regione.piemonte.it/web/note-legali-privacy">Note legali e privacy</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://www.regione.piemonte.it/web/cookie-policy">Cookie policy</a>
          </div>
          <div class="col-sm-2 col-md-4 col-lg-4 logo-csi">
            <a href="http://www.csipiemonte.it">
              <img alt="csi piemonte" src="assets/img/Logo_CSI.png">
            </a>
          </div>
    
        </div>
      </div>
    </div>
  </footer>
  
  
  