.colmirwcl-testata-lista {
    background-color: white !important;
    padding: 15px;
    margin-bottom: 20px;
}

.colmirwcl-table {
    thead {
        background-color: rgb(240, 240, 240) !important;
    }
    font-size: 13px;
}

.colmirwcl-select-page {
    width: 60px;
}

.colmirwcl-pagination-footer {
    margin-top: 30px;
    font-size: 13px;
}